<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Jason Zhao"> 
<meta name="keywords" content="jasonyzhao, Jason Zhao"> 
<meta name="author" content="Jason Zhao">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("div .project-wrapper h3").click(function() {
    var button = $(this).children("button");
    $(this).next("div .project").slideToggle( "fast", function() {
      if ($(this).is(':visible')) {
        button.html('&#x25BC;');   
      } else {
        button.html("&#x25B2;"); 
      }
    });;
  });
});
</script>
</head> 

<body>

<nav>
<ul>
  <li>
    {% if page.url == '/education/' %}
    <strong>Education</strong>
    {% else %}
    <a href="/education/">Education</a>
    {% endif %}
  </li>
  
  <li>
    {% if page.url == '/projects/' %}
    <strong>Projects</strong>
    {% else %}
    <a href="/projects/">Projects</a>
    {% endif %}
  </li>

  <li>
    {% if page.url == '/experience/' %}
    <strong>Experiences</strong>
    {% else %}
    <a href="/experience/">Experiences</a>
    {% endif %}
  </li>

  <li>
    {% if page.url == '/skills/' %}
    <strong>Skills</strong>
    {% else %}
    <a href="/skills/">Skills</a>
    {% endif %}
  </li>
</ul>
</nav>
<a href="/"><h1>Jason Y. Zhao</h1></a>

<div>
  {{ content }}
</div>

</body>

<footer>
  <ul>
    <li>&copy; {{ site.time | date: '%Y' }} Jason Zhao</li>
    <li><a href="/contact.html">contact</a></li>
  </ul>
</footer>
</html>
